<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/formulario.css">
    <title>GarageSN</title>
</head>
<header>
<%-include('partials/header.ejs')%>
</header>
       

<div class="inputs">
<form action="/vehiculos/updateVehiculo/<%= vehiculo.id%>" method="POST" enctype="multipart/form-data">
    <div class="formulario">
        <label for="">Titulo</label>
        <input type="text" name="nombre" value="<%= vehiculo.nombre %>" required minlength="1">
    </div>
    <div class="formulario">
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" class="descripcion" value="<%= vehiculo.descripcion %>" required minlength="10">
    </div>

    <div class="formulario">
        <label for="">Precio</label>
        <input type="number" name="precio" value="<%= vehiculo.precio %>" required min="10">
    </div>
    <div class="formulario">
        <label for="">Imagen de perfil</label>
        <input type="file" name="imagenvehiculo">
    </div>

    
    <button  type="submit" class="btnmod"> Modificar </button>
</form>
</div>
   </body>
</html>
